#headerCarousel {
  background-color: #9E5F4D;
  background-position: fluid;
}

#form {
  background-color: #784859;
  background-position: fluid;
}

#backgroundForm {
  background-color: #784859;
  background-position: fluid;
}

#backgroundPost {
  background-color: #9E5F4D;
  color: #white;
  background-position: fluid;
}

.carousel-inner img {
  width: 950px; 
  height: auto;
  position: center;
}

h1 {
  font-family: 'Snell Roundhand';
  font-size: 38px;
  font-style: normal;
  }

h2 {
  font-family: 'Snell Roundhand';
  font-size: 36px;
  font-style: normal;
}

body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}